﻿@model IEnumerable<BookStore.Models.Book>
@foreach (var book in Model)
{
    <div class="card">
        <div class="card-header">
            <h2 class="card-title"> @book.Name </h2>
        </div>
        <div class="card-block">
            <p class="card-text"> <b>Жанр</b>: @book.Genre </p>
            <p class="card-text"> <b>Автор</b>: @book.Author </p>
            @Html.ActionLink("Подробнее", "DetailsBook", new { id = book.Id }, htmlAttributes: new { @class = "card-link btn btn-primary" })
        </div>
    </div>
}