﻿<h2>@ViewBag.Message</h2>

<address>
    ул. Союзная, 144а<br />
    Ярославль, Ярославская область<br />
    <abbr title="Phone">P:</abbr>
    +7 (4852) 55-66-44
</address>

<address>
    <span class="fa fa-at" aria-hidden="true"/> <strong>Поодержка:</strong>   <a href="mailto:buzanovn@gmail.com">buzanovn@gmail.com</a><br />
    <span class="fa fa-vk" aria-hidden="true" /> <strong>VK:</strong> <a href="http://vk.com/buzanovn">buzanovn</a><br />
    <span class="fa fa-telegram" aria-hidden="true" /> <strong>Telegram</strong> <a href="http://t.me/buzanovn">buzanovn</a>
</address>