﻿@model BookStore.Models.Book

@{
    ViewBag.Title = "DetailsBook";
}

<h2>Подробней о книге</h2>
<hr />
<div class="jumbotron">
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.Author) </dt>
        <dd> @Html.DisplayFor(model => model.Author) </dd>
        <dt> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd> @Html.DisplayFor(model => model.Name) </dd>
        <dt> @Html.DisplayNameFor(model => model.Genre) </dt>
        <dd> @Html.DisplayFor(model => model.Genre) </dd>
    </dl>
    @Html.ActionLink("Редактировать", "EditBook", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Добавить отзыв", "Create", "Review", new { BookId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "btn btn-secondary" })
</div>
<h2>Отзывы</h2>
<hr />
@Html.Partial("ReviewPartial", new BookStore.Controllers.BaseController()._context.GetReviews(Model.Id))
