﻿body, html {
    height: 100%;
}

.container {
    min-height: 100%;
}

.footer {
    height: 40px;
    margin-top: -40px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

a {
    font-family: 'PT Sans';
}

input,
select,
textarea {
    max-width: 280px;
}

.like-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.like-btn:focus,
.like-btn:active:focus,
.like-btn.active:focus,
.like-btn.focus,
.like-btn:active.focus,
.like-btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.like-btn:hover,
.like-btn:focus,
.like-btn.focus {
    color: #333;
    text-decoration: none;
}

.like-btn:active,
.like-btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.report-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.report-btn:focus,
.report-btn:active:focus,
.report-btn.active:focus,
.report-btn.focus,
.report-btn:active.focus,
.report-btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.report-btn:hover,
.report-btn:focus,
.report-btn.focus {
    color: #333;
    text-decoration: none;
}

.report-btn:active,
.report-btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.card {
    margin-bottom: 16px;
    margin-top: 16px;
}

.card > .card-block {
    padding: 8px 8px 8px 8px;
}
nav {
    margin-bottom: 40px;
}
