﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/favicon.ico")" />
    <link rel="icon" type="image/ico" href="@Url.Content("~/favicon.ico")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Bookstore</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <span>
                            <a href="@Url.Action("Index", "Home")" class="nav-link">
                                <span class="fa fa-inverse fa-home"></span>
                                Главная
                            </a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span>
                            <a href="@Url.Action("Users", "Home")" class="nav-link">
                                <span class="fa fa-inverse fa-users"></span>
                                Пользователи
                            </a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span>
                            <a href="@Url.Action("CreateBook", "Home")" class="nav-link">
                                <span class="fa fa-inverse fa-plus"></span>
                                Добавить книгу
                            </a>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span>
                            <a href="@Url.Action("Contact", "Home")" class="nav-link">
                                <span class="fa fa-inverse fa-support"></span>
                                Контакты
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>made with <span class="fa fa-heart" aria-hidden="true" /> by <a href="http://vk.com/buzanovn">buzanovn</a>, 2017 &copy;</p>
            </footer>
        </div>
    </main>
</body>
</html>