﻿@model List<BookStore.Models.BookReview>
@foreach (var review in Model)
{
    if (!@review.IsOffensive)
    {
        <div class="card">
            <h3 class="card-header">@Html.DisplayFor(m => review.Name)</h3>
            <div class="card-block">
                @Html.DisplayFor(m => review.Review)
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <div class="card-link btn btn-primary report-btn" data-review="@review.Id" >
                        <span class="fa fa-thumbs-o-down"></span>
                        Пожаловаться
                    </div>
                    <div class="card-link btn btn-primary like-btn" data-review="@review.Id">
                        <span class="fa fa-thumbs-o-up"></span>
                        Нравится: <span class="like"> @Html.DisplayFor(m => review.Likes) </span>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div class="modal fade" id="modal_report" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Введите причину жалобы</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form>
                <input type="text" id="report" />
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="send-report-btn">Отправить</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/user-script")
